{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}

<form action="#" method="post">

    <p>Auth token:</p>
    <p><input type="text" name="auth"/></p>
    <fieldset>
        <legend>Start Date</legend>
        <label for="my-date-picker">Date:
            <input id="my-date-picker" type="date" min="2015-12-31"
            name="start_date" value="">
        </label>
    </fieldset>
    <fieldset>
        <legend>End Date</legend>
        <label for="my-date-picker">Date:
            <input id="my-date-picker" type="date" min="2015-12-31"
            name="end_date" value="">
        </label>
    </fieldset>
    <p>Latitude:</p>
    <p><input type="float" name="latitude"/></p>
    <p>Longitude:</p>
    <p><input type="float" name="longitude"/></p>
    <p>Amount of stations</p>
    <p><input type="submit" value="submit"/></p>
</form>

{% endblock %}
